[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scrypt"]
	path = scrypt
	url = https://github.com/bobjansen/rscrypt
	shallow = true
	registered = true
